<div id="myytplayer"></div>

<div id="comments">
  <%= render @comments %>
</div>

<%= form_for @comment, remote: true, html: {class: "navbar-form navbar-left"} do |f| %>
  <div class="form-group">
    <%= f.text_field :message, placeholder: 'コメント', class: 'form-control' %>
    <%= f.hidden_field :commented_time, class: 'form-control' %>
  </div> 
  <%= f.submit 'Enter', id: 'comment-btn', class: 'btn btn-primary' %>
<% end %>

<br>

<p id="ytmovie-link">
  このページは
  <%= link_to 'このYouTube動画',
      'http://www.youtube.com/watch?v=' + params[:url],
      target: '_brank' %>
  にコメントアニメーションをのせています
</p>

<p id="movie-link">
  別のYouTubeの動画にコメントアニメーションをつける場合は、空欄に動画のURLを入力して下さい
<%= render 'form' %>
</p>
