<div id="myytplayer"></div>

<div id="comments">
  <%= render @comments %>
</div>

<%= form_tag '/comments', remote: true, class: "navbar-form navbar-left" do %>
  <div class="form-group">
    <%= text_field :comment, :message, placeholder: 'コメントを入力してEnter', class: 'form-control' %>
    <%= hidden_field :comment, :commented_time %>
    <%= hidden_field :movie, :url %>
  </div> 
  <%= submit_tag 'Enter', id: 'comment-btn', class: 'btn btn-primary' %>
<% end %>

<br>

<p id="ytmovie-link">
  このページは
  <%= link_to 'このYouTube動画',
      'http://www.youtube.com/watch?v=' + params[:url],
      target: '_brank' %>
  にコメントアニメーションをのせています
</p>

<p id="movie-link">
  別のYouTubeの動画にコメントアニメーションをつける場合は、空欄に動画のURLを入力して下さい
<%= render 'form' %>
</p>
