<!DOCTYPE html>
<html>
<head>
  <% set_meta_tags title:       'Com.Movie' %>
  <% set_meta_tags description: 'コメント付きでYoutube動画を視聴出来ます' %>
  <% set_meta_tags keywords:    'コメント,動画,Youtube,youtube' %>
  <%= display_meta_tags %>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>
          <%= link_to root_path, class: 'brand' do %>
            <%= image_tag 'logo.gif', size: '120x40' %>
          <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="main" class="container">
    <div class="row">
     	<%= yield %>
    </div>
  </div>

  <footer style="text-align: center">
    <p>© 2013 south37 All Rights Reserved.</p>
  </footer>
</body>

<%= javascript_include_tag "application" %>
</html>
