<!DOCTYPE html>
<html>
  <head>
    <title>CommentMovie</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= include_gon %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="contents">
      <div id="logo">
	<%= image_tag 'logo.gif', size: '100x85' %>
      </div>
      <div id="main">
	<%= yield %>
      </div>     
    </div>
  </body>
</html>
