<!DOCTYPE html>
<html>
<head>
  <title>CommentMovie</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= include_gon %>
  <%= javascript_include_tag "application", url_for({controller: :comments, action: :create}) %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
